aniso8601==9.0.1
asgiref==3.5.2
asttokens==2.4.1
async-generator==1.10
attrs==22.2.0
blinker==1.7.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.7
colorama==0.4.6
comm==0.2.1
debugpy==1.8.0
decorator==5.1.1
Django==4.1.4
django-jinja==2.10.2
dnspython==2.2.1
email-validator==1.3.0
et-xmlfile==1.1.0
executing==2.0.1
filelock==3.13.1
Flask==3.0.1
flask-marshmallow==1.1.0
Flask-MySQLdb==1.0.1
Flask-RESTful==0.3.10
flask-restful-swagger==0.20.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.1.1
fsspec==2023.12.2
future==0.18.3
greenlet==3.0.3
h11==0.14.0
idna==3.4
ipykernel==6.28.0
ipython==8.20.0
iso8601==2.0.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
jupyter_client==8.6.0
jupyter_core==5.7.1
MarkupSafe==2.1.4
marshmallow==3.20.2
marshmallow-sqlalchemy==1.0.0
matplotlib-inline==0.1.6
mistune==0.8.4
MouseInfo==0.1.3
mpmath==1.3.0
mysqlclient==2.1.1
nest-asyncio==1.5.9
networkx==3.2.1
nltk==3.8.1
numpy==1.24.1
oauthlib==3.2.0
openpyxl==3.0.10
outcome==1.2.0
packaging==23.2
pandas==1.5.2
parso==0.8.3
passlib==1.7.4
platformdirs==4.1.0
prompt-toolkit==3.0.43
psutil==5.9.7
pure-eval==0.2.2
PyAutoGUI==0.9.53
pycparser==2.21
PyGetWindow==0.0.9
Pygments==2.17.2
PyMsgBox==1.0.9
pyodbc==5.0.1
pyperclip==1.8.2
pypyodbc==1.3.6
PyRect==0.2.0
PyScreeze==0.1.28
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
pytweening==1.0.4
pytz==2022.7
pywin32==306
PyYAML==6.0
pyzmq==25.1.2
regex==2023.10.3
requests==2.28.2
rpds-py==0.16.2
scikit-learn==1.3.2
scipy==1.11.4
selenium==4.8.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
SQLAlchemy==2.0.25
sqlparse==0.4.3
stack-data==0.6.3
sympy==1.12
tenacity==8.2.3
termcolor==2.2.0
threadpoolctl==3.2.0
toml==0.10.2
toolz==0.12.0
torch==2.1.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.9.0
tzdata==2022.7
tzlocal==5.2
undetected-chromedriver==3.4.6
urllib3==1.26.14
validators==0.22.0
watchdog==3.0.0
wcwidth==0.2.13
websockets==10.4
Werkzeug==3.0.1
wsproto==1.2.0
WTForms==3.0.1
xmltodict==0.12.0
zipp==3.17.0