.container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
}

.youtube-link .icon {
    width: 20px;
    color: red;
    display: flex;
    flex-shrink: 0;
}

.youtube-link {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #222;
    line-height: 1.8;
    display: flex;
    gap: 16px;
    margin: 8px 0;
    padding: 4px 32px;
    cursor: pointer;
    transition: all 400ms ease;
}

.youtube-link:hover {
    background: #efefef;
}

.youtube-player-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
}

.youtube-player-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.youtube-player-popup {
    position: fixed;
    width: 80%; /* Adjust the width as needed */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8); /* Scale down to 80% */
    transition: all 400ms ease;
}

.youtube-player-popup iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.youtube-player-popup iframe {
    width: 100%;
    aspect-ratio: 16/9;
}